FEISHU_WEBHOOK_URL=
FEISHU_WEBHOOK_SECRET=
FEISHU_KEYWORD=Mac 负载监控

CHECK_INTERVAL=10m
REPORT_INTERVAL=1h

CPU_THRESHOLD_PERCENT=90
MEMORY_AVAILABLE_THRESHOLD_PERCENT=20
DISK_USAGE_THRESHOLD_PERCENT=90
THERMAL_ALERT_ENABLED=true

TOP_PROCESS_COUNT=5
HTTP_TIMEOUT=10s
